<app-menu></app-menu>

 <!-- <div class = "text-layout">
    <h1 > {{ 'hola karol' | titlecase}}</h1>
</div>

<button pButton type="button" label = "Cambiar Nombre" icon="pi pi-bell" iconPos="right"></button>
<hr>
<p-card header = "Simple Card">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Inventore sed consequuntur error repudiandae numquam deserunt 
        quisquam repellat libero asperiores earum nam nobis, culpa 
        ratione quam perferendis esse, cupiditate neque quas!
</p-card> -->
<router-outlet></router-outlet>
